﻿<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="CyberBotDatabase"
             providerName="MySql.Data.MySqlClient"
             connectionString="Server=localhost;Port=3306;Database=cybersecurity_bot;Uid=cyberbot_user;Pwd=CyberBot!2026;SslMode=Preferred;AllowPublicKeyRetrieval=True;Connection Timeout=5;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>